.post {
  display: flex;
  margin: 1rem 0;

  /*&.own {
    .info {
      order: 2;
      margin-left: 1rem;
    }
    .content {order: 1;}
  }*/
  &/*:not(.own)*/ {
    .info {
      order: 1;
      margin-right: 1rem;
    }
    .content {order: 2;}
  }
  .info {
    flex-grow: 0;
    text-align: center;

    .avatar, .answer {
      display: flex;
      justify-content: center;
      width: 3.5rem;
      height: 3.5rem;
      overflow: hidden;
      border-radius: 100%;
      box-shadow: $shadow;
      background: white;
      box-shadow: $shadow;
      background: white;
    }
    .avatar {
      img {
        height: 100%;
      }
    }
  }

  .content {
    flex-grow: 1;

    > .speechbubble {
      box-sizing: content-box;
      min-height: 1em;

      display: block;
      padding: .4rem .8rem;
      background: white;
      border-radius: 4px;
      box-shadow: $shadow;
    }
  }
  &.new .speechbubble {
    min-height: 3rem;
  }

  &.new .info .button {
    padding: 1rem;
  }

  .author {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    margin-left: .8rem;
    color: rgba(0, 0, 0, 0.5);
  }

  .answer {
    border: 0;
    color: #080;
    font-size: 4rem;
    line-height: 3rem;
  }
}
