.topic {
  
  .posts {
    list-style-type: none;
    padding: 0;
    width: 500px;
    
    .post {
      display: flex;
      margin: 1rem 0;
      
      &.own {
        .author {
          order: 2;
          margin-left: 1rem;
        }
        .content {order: 1;}
      }
      &:not(.own) {
        .author {
          order: 1;
          margin-right: 1rem;
        }
        .content {order: 2;}
      }
      .author {
        flex-grow: 0;
        text-align: center;
        
        avatar {
          display: block;
          width: 4rem;
          height: 4rem;
          overflow: hidden;
          border-radius: 100%;
          box-shadow: $shadow;
          img {
            height: 4rem;
          }
        }  
      }
      
      .content {
        flex-grow: 1;
        padding: 2px 10px;
        background: white;
        border-radius: 4px;
        box-shadow: $shadow;

        > span {
          min-height: 1em;
          display: block;
        }
      }
      &.new .content {
        min-height: 3rem;
      }
    }
  }
}


