<html>
  <head>
    <title></title>
    <style src=style.css></style>
  </head>
  <body>
    <app-container>
      <app-head>
        <app-title></app-title>
        <app-usermenu></app-usermenu>
      </app-head>
      <app-body>
        
        <app-pagination>
        </app-pagination>
        <app-topic>
          <app-post id=post_53>
            <post-user>
              Dieter
            </post-user>
            <post-content>
              Started GET "/assets/jquery_ujs.self-d456baa54c1fa6be2ec3711f0a72ddf7a5b2f34a6b4f515f33767d6207b7d4b3.js?body=1" for 127.0.0.1 at 2015-12-12 18:33:13 +0100
            </post-content>
          </app-post id=post_83>
          <app-post>
            <post-user>
            </post-user>
            <post-content>
            </post-content>
          </app-post>
        </app-topic>
        
      </app-body>
      <app-foot>
      </app-foot>
    </app-container>  
  </body>
</html>
